.data-hora {
    text-align: center;
}

#btn-dialog-fechar {
    position: absolute;
    top: 0;
    right: 0;
}

#alerta-registro-ponto {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: blueviolet;
    padding: 20px;
    /* TO-DO: */
    /* posicionar fora da página */
    /* pode usar o translate no eixo Y */
    /* usar um efeito de transição */
}

#alerta-registro-ponto p {
    text-align: center;
    color: white;
    font-size: 1.1rem;
    /* TO-DO: */
    /* Estilizar */
}

#alerta-registro-ponto-fechar {
    position: absolute;
    top: 0;
    right: 0;
}

/* TO-DO: */
/* Adicionar código CSS para alterar a opacidade */
.hidden {
    /* TO-DO: */
    /* enviar para fora da página */
    opacity: 0;
}

.show {
    /* TO-DO: */
    /* trazer para dentro da página */
    opacity: 1;
}


#div-btn-bater-ponto {
    text-align: center;
}

#btn-bater-ponto {
    padding: 20px;
    background-color:brown;
    color: white;
    font-size: 1.3rem;
    border: 0px;
}

.data-hora p {
    font-size: rem; /* tamanho relativo */
    /* ??? */
}

#dialog-ponto p {
    font-size: 1.5rem;
}

#dialog-ponto select {
    padding: 20px;
    font-size: 1.3rem;
}

#btn-dialog-bater-ponto {
    padding: 20px;
    font-size: 1.3rem;
}